[package]
name = "shared"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
bevy = { workspace = true }
inator = { path = "../../inator" }
serde = { workspace = true }
bincode = { workspace = true }